CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea
.vs
cmake-build-debug
cmake-build-release
.idea/discord.xml
main_dx11.cpp
