[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/OlegSirenko/imgui.git
	branch = docking
[submodule "Deploy/Installer_GasFlowControl"]
	path = Deploy/Installer_GasFlowControl
	url = git@github.com:OlegSirenko/Installer_GasFlowControl.git
[submodule "libs/ImGuiNotify"]
	path = libs/ImGuiNotify
	url = git@github.com:OlegSirenko/ImGuiNotify.git
