[Desktop Entry]
Type=Application
Version=1.0
Name=Gas Flow Control Monitor
Comment=Monitoring for Gas Flow System
Exec=GasFlowControlMonitoringApp
Icon=new_icon
GenericName=Monitor
Categories=Utility
Terminal=false
