[Desktop Entry]
Type=Application
Version=1.0
Name=Monitor
Comment=Monitor
Exec=Monitor
Icon=new_icon
GenericName=Monitor
Categories=Utility
Terminal=false
